In [1]:
import pandas as pd

df=pd.read_csv("invoices.csv")

print(df)

               first_name        last_name                        email  \
0            Carmen Nixon    Todd Anderson    marvinjackson@example.com
1     Mrs. Heather Miller      Julia Moore        jeffrey84@example.net
2             Crystal May     Philip Moody         ugoodman@example.com
3             Bobby Weber       Mark Scott         ssanchez@example.com
4           Kristen Welch      David David        cynthia66@example.net
...                   ...              ...                          ...
9995       Daniel Chapman      Ralph Price        davidrice@example.com
9996     Jonathan Cabrera     John Baldwin       jennifer66@example.com
9997         David Thomas    Brandy Bishop  moraleskimberly@example.org
9998            Rose Bond     Daniel Lopez            vleon@example.net
9999      Jeffrey Johnson  Yolanda Mcgrath            mchen@example.net

      product_id  qty  amount invoice_date                          address  \
0            133    9   14.57   10/09/1982                 283 Wendy Common
1            155    5   65.48   03/10/2012  13567 Patricia Circles Apt. 751
2            151    9   24.66   23/03/1976     6389 Debbie Island Suite 470
3            143    4   21.34   17/08/1986       6362 Ashley Plaza Apt. 994
4            168    2   83.90   11/06/1996      463 Steven Cliffs Suite 757
...          ...  ...     ...          ...                              ...
9995         133    1   39.82   14/05/2004       8220 Stewart Isle Apt. 382
9996         133    1   21.94   07/10/1994   48045 Harris Mountain Apt. 857
9997         173    2   62.05   27/06/2010                  872 Tonya Drive
9998         146    5   11.35   16/01/2011     635 Saunders Creek Suite 967
9999         193    2   39.04   25/07/2021                    783 Owens Way

                    city  stock_code                                 job
0         West Alexander    36239634  Logistics and distribution manager
1            Andreamouth     2820163                           Osteopath
2                Coxbury    27006726                           Economist
3               Ninaland    83036521                Sports administrator
4             Isaiahview    80142652             Chief Marketing Officer
...                  ...         ...                                 ...
9995      New Willieberg    53513212                 Surveyor, insurance
9996            Jameston    61754737                              Writer
9997           West Eric    17037907                  Surveyor, quantity
9998      Port Catherine    32764659          Architectural technologist
9999  Lake Ashleyborough    52015342                   Designer, textile

[10000 rows x 11 columns]

In [23]:
df=df.drop_duplicates()
df["amount"] = (df["amount"] * 100).round().astype(int)

In [29]:
df["amount"].dtype

dtype('int64')

In [24]:
print(df)

               first_name        last_name                        email  \
0            Carmen Nixon    Todd Anderson    marvinjackson@example.com
1     Mrs. Heather Miller      Julia Moore        jeffrey84@example.net
2             Crystal May     Philip Moody         ugoodman@example.com
3             Bobby Weber       Mark Scott         ssanchez@example.com
4           Kristen Welch      David David        cynthia66@example.net
...                   ...              ...                          ...
9995       Daniel Chapman      Ralph Price        davidrice@example.com
9996     Jonathan Cabrera     John Baldwin       jennifer66@example.com
9997         David Thomas    Brandy Bishop  moraleskimberly@example.org
9998            Rose Bond     Daniel Lopez            vleon@example.net
9999      Jeffrey Johnson  Yolanda Mcgrath            mchen@example.net

      product_id  qty  amount invoice_date                          address  \
0            133    9    1457   10/09/1982                 283 Wendy Common
1            155    5    6548   03/10/2012  13567 Patricia Circles Apt. 751
2            151    9    2466   23/03/1976     6389 Debbie Island Suite 470
3            143    4    2134   17/08/1986       6362 Ashley Plaza Apt. 994
4            168    2    8390   11/06/1996      463 Steven Cliffs Suite 757
...          ...  ...     ...          ...                              ...
9995         133    1    3982   14/05/2004       8220 Stewart Isle Apt. 382
9996         133    1    2194   07/10/1994   48045 Harris Mountain Apt. 857
9997         173    2    6205   27/06/2010                  872 Tonya Drive
9998         146    5    1135   16/01/2011     635 Saunders Creek Suite 967
9999         193    2    3904   25/07/2021                    783 Owens Way

                    city  stock_code                                 job  \
0         West Alexander    36239634  Logistics and distribution manager
1            Andreamouth     2820163                           Osteopath
2                Coxbury    27006726                           Economist
3               Ninaland    83036521                Sports administrator
4             Isaiahview    80142652             Chief Marketing Officer
...                  ...         ...                                 ...
9995      New Willieberg    53513212                 Surveyor, insurance
9996            Jameston    61754737                              Writer
9997           West Eric    17037907                  Surveyor, quantity
9998      Port Catherine    32764659          Architectural technologist
9999  Lake Ashleyborough    52015342                   Designer, textile

      amount_cents
0             1457
1             6548
2             2466
3             2134
4             8390
...            ...
9995          3982
9996          2194
9997          6205
9998          1135
9999          3904

[10000 rows x 12 columns]

In [ ]:
import os
import sqlite3

if os.path.exists("migration.db"):
    os.remove("migration.db")

conn = sqlite3.connect("migration.db")

df.to_sql("invoices", conn, if_exists="replace", index=False)

print("Database created successfully!")

Database created successfully!

In [42]:
cursor = conn.cursor()

# Row count validation
cursor.execute("SELECT COUNT(*) FROM invoices")
db_count = cursor.fetchone()[0]

csv_count = len(df)

print("\nReconciliation Check:")
print("CSV Row Count:", csv_count)
print("DB Row Count:", db_count)

# Revenue validation
cursor.execute("SELECT SUM(amount) FROM invoices")
db_total = cursor.fetchone()[0]

csv_total = df["amount"].sum()

print("CSV Revenue Total:", csv_total)
print("DB Revenue Total:", db_total)

conn.close()

Reconciliation Check:
CSV Row Count: 10000
DB Row Count: 10000
CSV Revenue Total: 52918236
DB Revenue Total: 52918236

In [30]:
if csv_count == db_count and csv_total == db_total:
    print("\nMigration Successful")
else:
    print("\nMigration Failed")

Migration Successful